@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');

:root{
    font-family: 'Cormorant', serif;
    font-size: 1.35rem;
}
body{
    background-image: url('./assets/bg.svg');
}
.heading{
    font-size:2rem;
}
.form{
    background-color: white;
    padding: 5vw;
    margin: 2.5vw;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90vw;
    min-height: 90vw;
}
.form-section div{
    margin-top: 2rem;
}
.section textarea{
    resize: none;
    height: 7rem;
}
.section input, .section textarea{
    min-width: 50vw;
}