@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Cormorant", serif;
  font-size: 1.35rem;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  background-image: url("./assets/bg.svg");
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading {
  font-size: 2rem;
}
input{
  font-size: 1.25rem
}
.App {
  justify-content: center;
  align-content: center;
}
.form {
  background-color: white;
  padding: 5vw;
  margin: 2.5vw;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90vw;
  overflow: hidden;
}
.form-section div {
  margin-top: 2rem;
}
.section p {
  font-weight: 600;
}
.section textarea {
  resize: none;
  height: 7rem;
}
.section input,
.section textarea {
  min-width: 50vw;
}
.section input:focus::placeholder,
.section textarea:focus::placeholder {
  color: transparent;
  transition: 0.1s;
}
.image-uploader{
  outline: none;
  margin-top: 1rem;
}

/* CSS */
.btn {
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  display: inline-flex;
  margin: 2rem;
  min-height: 3rem;
  position: relative;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.btn-section{
  display: flex;
  justify-content: center;
}
.gender{
  margin-top: 1rem;
  min-width: 12rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2);
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}
.gender:hover{
  gap: 2rem;
}


/* UTILITY CLASSES */
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.flex-row div input {
  min-width: 25vw;
}
.flex-row div{
  display: flex;
  align-items: center;
  gap:0.5rem;
}
.red{
  color: red;
}

@media (max-width: 700px) {
  .form{
    /* overflow: scroll; */
    align-items:baseline;
  }
  .flex-row{
    flex-direction: column;
    gap: 0rem;
  }
  .section *{
    justify-items: center;
  }
  .image-uploader{
    max-width: 12rem;
  }
}
